src/main/resources/META-INF/spring/beacon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.iwouldbe.com/schema/beacon"
    xmlns:tns="http://www.iwouldbe.com/schema/beacon" elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans" />
    <!--引用 -->
    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:attribute name="id" type="string" />
            <xsd:attribute name="interfaceName" type="string" />
        </xsd:complexType>
    </xsd:element>
    <!--注册中心 -->
    <xsd:element name="registry">
        <xsd:complexType>
            <!-- <xsd:attribute name="id" type="string" /> -->
            <xsd:attribute name="address" type="string" />
            <xsd:attribute name="protocol" type="string" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>