beacon-spring/src/main/resources/META-INF/spring/beacon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.iwouldbe.com/schema/beacon"
    xmlns:tns="http://www.iwouldbe.com/schema/beacon" elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans" />

    <!--协议beacon-protocol -->
    <xsd:element name="protocol">
        <xsd:complexType>
            <xsd:attribute name="name" type="string" use="required" />
            <xsd:attribute name="port" type="positiveInteger" use="optional" />
        </xsd:complexType>
    </xsd:element>

    <!--注册中心beacon-registry -->
    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="address" type="string" use="required" />
            <xsd:attribute name="protocol" type="string" use="required" />
        </xsd:complexType>
    </xsd:element>

    <!--引用接口beacon-reference -->
    <xsd:element name="reference">
        <xsd:complexType mixed="true">
            <xsd:sequence minOccurs="0" maxOccurs="999">
                <xsd:element name="method">
                    <xsd:complexType>
                        <xsd:attribute name="methodName" type="string" use="required" />
                        <xsd:attribute name="timeout" type="positiveInteger"
                            default="3000" use="optional" />
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="string" />
            <xsd:attribute name="interfaceName" type="string" />
            <xsd:attribute name="timeout" type="positiveInteger" default="3000"
                use="optional" />
            <xsd:attribute name="retry" type="nonNegativeInteger" default="0"
                use="optional" />
            <xsd:attribute name="check" type="boolean" default="false" use="optional" />
            <xsd:attribute name="tolerant" type="string" default="failfast"
                use="optional" />
            <xsd:attribute name="group" type="string" use="optional" />
        </xsd:complexType>
    </xsd:element>

    <!--暴露接口beacon-exporter -->
    <xsd:element name="exporter">
        <xsd:complexType>
            <xsd:attribute name="id" type="string" />
            <xsd:attribute name="interfaceName" type="string" use="required" />
            <xsd:attribute name="ref" type="string" use="required" />
            <xsd:attribute name="methods" type="string" use="optional" />
            <xsd:attribute name="group" type="string" use="optional" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>